/**********************************************************
  Add Google Fonts
**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800');


/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    /* Now 1rem = 1em = 10px */

    overflow-x: hidden;
}

/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {

    /* Theme Colors */
    --black: #000;
    --white: #fff;
    --bg-color: #130f40;
    --btn-color: #1ec1de;

    --font-family-1: 'Poppins', sans-serif;
}

/**********************************************************
  Variables End
**********************************************************/


/**********************************************************
  Common Properties to Elements 
**********************************************************/
button>a {
    width: 30rem;
    height: 8rem;
    font-size: 2rem;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1.1px;
    text-decoration: none;
    display: block;
    line-height: 8rem;
    font-family: var(--font-family-1);
    transition: all .3s linear;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

button::before,
button::after {
    content: "";
    position: absolute;
    transition: all .3s linear;
    z-index: -1;
}


/**********************************************************
    Wrapper Start
**********************************************************/
.wrapper {
    background-color: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}


/**********************************************************
   Common Properties to Both Button-1 And Button 2
**********************************************************/
#btn1::before,
#btn1::after,
#btn2::before,
#btn2::after {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}

#btn1::before,
#btn2::before {
    border-top: .3rem solid var(--white);
    border-left: .3rem solid var(--white);
    top: 0;
    left: 0;
    transform-origin: left;
}

#btn1::after,
#btn2::after {
    border-right: .3rem solid var(--white);
    border-bottom: .3rem solid var(--white);
    bottom: 0;
    right: 0;
    transform-origin: right;
}


/**********************************************************
   Button-1 Start
**********************************************************/
#btn1:hover::after,
#btn1:hover::before {
    transform: rotate(360deg);
    width: 2rem;
    height: 2rem;
}

/**********************************************************
   Button-2 Start
**********************************************************/
#btn2:hover::before,
#btn2:hover::after {
    width: 2rem;
    height: 2rem;
}


/**********************************************************
   Button-3 Start
**********************************************************/
#btn3 a {
    background-color: var(--white);
    color: var(--bg-color);
}

#btn3::before,
#btn3::after {
    width: 2rem;
    height: 2rem;
}

#btn3::before {
    border-top: .3rem solid var(--white);
    border-left: .3rem solid var(--white);
    top: -1rem;
    left: -1rem;
}

#btn3::after {
    border-right: .3rem solid var(--white);
    border-bottom: .3rem solid var(--white);
    bottom: -1rem;
    right: -1rem;
}

#btn3:hover::before,
#btn3:hover::after {
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
}

/**********************************************************
   Button-3 End
**********************************************************/


/**********************************************************
   Button-4 Start
**********************************************************/
#btn4 {
    border: .3rem solid var(--btn-color);
    overflow: hidden;
    z-index: 2;
}

#btn4 a {
    color: var(--btn-color);
    transition: all .6s linear;
}

#btn4 .wave {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% + 8rem);
    left: 0;
    transition: all 1.5s linear;
    background-color: var(--btn-color);
    z-index: -1;
}

#btn4 .wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8rem;
    left: 0;
    background-image: url('../Assets/Images/water_wave.png');
    background-size: cover;
    animation: shake .4s linear infinite;
}

@keyframes shake {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 30rem;
    }
}

#btn4:hover .wave {
    top: 0;
}

#btn4:hover a {
    color: var(--white);
}

/**********************************************************
   Button-4 End
**********************************************************/




/**********************************************************
   Media Queries Start
**********************************************************/
@media only screen and (min-width:1600px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-width:400px) {
    html {
        font-size: 52%;
    }
}

/**********************************************************
   Media Queries End
**********************************************************/